.indexTop{
  height:58%;

}
.indexBot{
  height: 42%;
  padding: 0.32rem 0.13rem 0;
  h3{
    color: #282727;
    font-size: 20px;
  }
  .btns{
    width: 33.33%;
    padding:0 0.2666rem;
    a{
      display: block;  color: #fff;
      padding: 10px;
      border-radius: 3px;
    }
  }
  .codeTwo{
    padding:0  0.2666rem;
    .codeTwoLeft{
      width: 70%;
      p{
        line-height: 0.53rem;
      }
    }
    .codeTwoRight{
      width: 25%;
    }

  }
}
@media screen and (max-width:640px){
  .indexBot{
    .btns{
      a{font-size: 12px;}
    }
  }
}
